// News Page Stuff //

section.content-block.schedule,
section.content-block.alumni-books {
  .wrapper {
    padding:20px 20px 60px 20px;
    h2 {
      color:$black;
      text-align:left;
      margin:20px 0;
      padding:0;
      max-width:100%;
    }
    .buttons {
      padding:30px 0;
      a {
        font-size:25px;
        color:#fff;
        padding:10px 25px;
        border-radius:25px;
        background-color:#597aa1;
        display:inline-block;
        margin:0 10px;
      }
      a.active {
        background-color:#71993b;
      }
    }
    .schedule-block {
      h3 {
        border-top:2px solid #7f7f7f;
        padding-top:10px;
        margin:0 0 20px 0;
      }
      .classes {
        display:flex;
        justify-content:space-between;
        gap:80px;
        flex-wrap:wrap;
        margin:0 0 50px 0;
        .class {
          flex-basis: calc(33.33333% - 55px);
          min-width: calc(33.33333% - 55px);
          img {
            
          }
          .top {
            display:flex;
            justify-content:space-between;
            font-size:17px;
            font-family:$font1;
            padding:10px 0;
            a {
              color:#1b75bb;
              text-decoration:none;
            }
          }
          .title {
            color:#597aa1;
            font-size:25px;
            font-family:$font2;
            font-weight:400;
          }
          .instructor {
            font-size:17px;
            font-family:$font1;
            color:#000;
            margin:10px 0;
          }
          .teaser {
            div.text {
              p {
                font-size:17px;
                font-family:$font1;
                color:#666;
                margin:10px 0;
              }
            }
            div.text.cutoff {
              height: 55px;
              overflow: hidden;
            }
            p.readmore {
              font-size:17px;
              font-family:$font1;
              color:#1b75bb;
              margin:10px 0 0 0;
              text-align:center;
              img {
                cursor:pointer;
                margin:0 auto;
              }
              a {
                color:#1b75bb;
              }
            }
          }
        }
      }
      
    }
    .schedule-block.hide {
      display:none;
    }
    
    .classtable {
      h3 {
        text-align:left;
        max-width:100%;
      }
      table {
        width:100%;
        margin:0 0 40px 0;
        tr {
          th {
            text-align:left;
            padding:10px 10px 20px 10px;
            font-weight:normal;
            font-style:italic;
          }
          td {
            padding:10px 10px 20px 10px;
            text-align:left;
          }
          td.image {
            img {
              max-width:90px !important;
            }
          }
        }
        tr:nth-child(even) {
          td {
            background-color:#f5f5f5;
          }
        }
      }
    }
    
    .other {
      text-align:left;
      margin:40px 0 20px 0;
      h4 {
        margin:20px 0;
        padding:0;
        max-width:100%;
        color:$black;
      }
      ul {
        list-style:none;
        margin:10px 0;
        padding:0;
      }
    }
    
  }
  
  @include respond($tablet) {
    .wrapper {
      padding:0px 20px 0px 20px;
      .schedule-block {
        .classes {
          .class {
            flex-basis: calc(50% - 40px);
            min-width: calc(50% - 40px);
          }
        }
      }
      .classtable {
        table {
          tr {
            td.image {
                img {
                  min-width:75px;
                }
              }
          }
        }
      }
    }    
  } 
  
  @include respond($mobile) {
    .wrapper {
      .schedule-block {
        .classes {
          .class {
            flex-basis: calc(100%);
            min-width: calc(100%);
            .teaser {
              div.text.cutoff {
                height: 65px;
              }
            }
          }
        }
      }
      .classtable {
        table {
          tr {
            td {
              width: 100%;
              min-width: 100%;
              display:block;  
            }
            th {
              display:none;
            }
          }
        }
      }
    }    
  } 
  
  

  
  
}

section.content-block.alumni-books {
  .wrapper {
    padding:50px 20px 60px 20px;
  }
  @include respond($tablet) {
    .wrapper {
      padding:50px 20px 0px 20px;
   
    }    
  } 
}

.page-current-schedule {
  
  section:nth-of-type(2) .wrapper {
    text-align: left;
    padding: 40px 20px 0px 20px !important;
  }
  
}

