
/*! Variables */

// Colors
$primary_color: #f5821f;
$orange: #f15a29;
$secondary_color: #44768e;
$light_gray: #d9d9d9;
$gray: #6d6e71;
$dark_gray: #d1d3d4;
$dark_gray2: #344046;
$border:#d9d9d9;
$black: #231f20;
$blue:#597ca3;
$light-blue:#5497cd;
$bluelink: #0071bc;
$yellow:#f1d660;
$h4: #777777;
$teal:#d0ecee;
$red:#c1272d;
$btn: #e7e8e9;
$text: #808285;
$brown: #b97b4e;

// Fonts
$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Libre Caslon Text', serif;
$font1: 'Open Sans', sans-serif;
$font2: 'Libre Caslon Text', serif;

// Sizes
$site_width: 1100px;
$desktop: 1260px;
$mobile_nav: 1128px;
$tablet: 768px;
$mobile: 640px;

//Misc
$hover_speed: 0.3s;
$maxwidth:1100px;

